<!DOCTYPE html >
<html lang="en">
    <head>
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href="../Static/styles.css">
        <title>Midterm</title>
        <script src=".//Scripts/maze.js"></script>
    </head>
    <header>
        <div class="header">Credits</div>
    </header>   
    <body class="background">
        <div class="menu-container">
            <ul style="list-style: none;">
                <li><a href="../index.html" class="button button3">Lead Developer: Conner Nance</a></li>
            </ul>

            <div style="text-align: center; margin-top: 10%; margin-bottom: 28%; font-size: 32px; font-weight: bolder; color: white; flex-direction: wrap;"> All credit for this Midterm goes to Conner Nance.</div>
        </div>
    </body>
    <footer>
        <div class="footer">Conner Nance - CS 5410</div>
    </footer>
</html>